@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

.Large-Container {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all .2s linear;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  min-height: 100vh;
  background: linear-gradient(90deg, #2ecc71 60%, #27ae60 40%);
}

.container form {
  padding: 30px;
  width: 500px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

.container form .row {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.container form .row .col {
  flex: 1 1 100%;
}

.container form .row .col .title {
  font-size: 22px;
  color: #333;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.container form .row .col .inputBox {
  margin: 10px 0;
}

.container form .row .col .inputBox span {
  margin-bottom: 8px;
  display: block;
  font-weight: 500;
}

.container form .row .col .inputBox input {
  width: 100%;
  border: 1px solid #ccc;
  padding: 12px 2px;
  font-size: 16px;
  text-transform: none;
  border-radius: 5px;
}

.container form .row .col .inputBox input:focus {
  border: 1px solid #27ae60;
  box-shadow: 0 0 5px rgba(39, 174, 96, .5);
}

.container form .row .col .flex {
  display: flex;
  gap: 15px;
}

.container form .row .col .flex .inputBox {
  margin-top: 5px;
  flex: 1;
}

.container form .row .col .inputBox img {
  height: 40px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}

.container form .submit-btn {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  background: #27ae60;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
  cursor: pointer;
}

.container form .submit-btn:hover {
  background: #2ecc71;
}
